// colors

$light-purple : #d7ccc8;
$blue-grey: #263238;
$light-green:#66bb6a;
$light-purple2:#ba68c8;

// transition
$ease-out-3s: ease-out .3s;
$ease-in-3s: ease-in .3s;
$ease-in-2s: ease-in .2s;


// border radius
$radius : .825rem;
